<!--div class="col-sm-6 col-sm-offset-3">
	<div class="well">
		<h5 ng-if="authenticated">Welcome, {{currentUser.name}}</h5>
		<div ui-view></div>
		<h3>Users</h3>
		<div class="form-group">
			<button class="btn btn-primary" ng-click="user.getUsers()">Get Users!</button>
			<button class="btn btn-danger" ng-click="user.logout()">Logout</button>
		</div>
		<ul class="list-group" ng-if="user.users">
			<li class="list-group-item" ng-repeat="user in user.users">
				<h4>{{user.name}}</h4>
				<h5>{{user.email}}</h5>
			</li>
		</ul>
		<div class="alert alert-danger" ng-if="user.error">
			<strong>There was an error: </strong> {{user.error.error}}
			<br>Please go back and login again
		</div>
	</div>
</div-->
<div id="wrapper">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			<a class="navbar-brand" ui-sref="users.home">XARXA MUSICAL <i class="fa fa-fw fa-music"></i> </a>
		</div>
		<!-- Top Menu Items -->
		<ul class="nav navbar-right top-nav">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.user.name}}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li>
						<a data-ng-click="user.openModal()" style="cursor: pointer"><i class="fa fa-fw fa-gear"></i> Settings</a>
					</li>
					<li class="divider"></li>
					<li>
						<a data-ng-click="user.logout()" style="cursor: pointer"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
					</li>
				</ul>

			</li>
		</ul>

		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<li>
					<a ui-sref="users.home"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
				</li>
				<li>
					<a ui-sref="users.events"><i class="fa fa-fw fa-table"></i> Events</a>
				</li>
				<li>
					<a ui-sref="users.artist"><i class="fa fa-fw fa-female"></i> Artists</a>
				</li>
				<li>
					<a ui-sref="users.bands"><i class="fa fa-fw fa-users"></i> Bands</a>
				</li>
				<li>
					<a ui-sref="users.locations"><i class="fa fa-fw fa-wrench"></i> Locations</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</nav>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div ui-view autoscroll></div>
		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->
</div>

<!--modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
 id="mySettingModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">User Details</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<i class="icon-calendar"></i>
								<h3 class="panel-title">User info</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="form-group col-lg-6 col-sm-6">
										<div class="input-group">
											<span class="input-group-addon">Name</span>
											<input type="text" class="form-control" ng-model='user.user.name' ng-disabled="user.infoDisabled">
										</div>
									</div>
									<div class="form-group col-lg-6 col-sm-6">
										<div class="input-group">
											<span class="input-group-addon">Email</span>
											<input type="text" class="form-control" ng-model='user.user.email' ng-disabled="user.infoDisabled">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<button class="btn btn-primary" ng-click="user.editButton()">Edit</button>
										<button class="btn btn-danger" ng-click="user.saveButton()" ng-disabled="user.infoDisabled">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="user.closeModal()">Close</button>
			</div>
		</div>
	</div>
</div>
</div>