<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Artists
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-female"></i> Artists
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Artist List</h2>
            <table ng-table="artist.tableParams" class="table" show-filter="true">
                <tr ng-repeat="art in artist.tableParams.data">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{art.name}}</td>
                    <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                        {{art.email}}</td>
                    <td title="'Telf'" filter="{ telf: 'number'}" sortable="'telf'">
                        {{art.telf}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="artist.goToDetails(art.id)">Details</button>
                        <!--button type="button" class="btn btn-danger btn-sm" ng-click="artist.deleteArtist(art.id)">Delete</button-->
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create a new Artist</button>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Artist</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align: center">
                    <h2>Create new Artist</h2>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Artist name</label>
                            <input class="form-control" ng-model="artist.name" placeholder="Artist Name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" ng-model="artist.email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Telf</label>
                            <input class="form-control" ng-model="artist.telf" placeholder="Telf">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="artist.create()">Create</button>
                <button class="btn btn-danger" ng-click="artist.closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>