<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Artist Detail
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-female"></i> <a ui-sref="users.artist">Artists</a>
                </li>
                <li class="active">
                    {{artistDetail.artist.name}}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Artist info</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Name</span>
                                <input type="text" class="form-control" ng-model='artistDetail.artist.name' ng-disabled="artistDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Telf</span>
                                <input type="text" class="form-control" ng-model='artistDetail.artist.telf' ng-disabled="artistDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">email</span>
                                <input type="text" class="form-control" ng-model='artistDetail.artist.email' ng-disabled="artistDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Created at</span>
                                <input type="text" class="form-control" ng-model='artistDetail.artist.created_at' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Updated at</span>
                                <input type="text" class="form-control" ng-model='artistDetail.artist.updated_at' ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" ng-click="artistDetail.editButton()">Edit</button>
                            <button class="btn btn-danger" ng-click="artistDetail.saveButton()" ng-disabled="artistDetail.infoDisabled">Save</button>
                            <button class="btn btn-danger" style="float: right;" ng-click="artistDetail.deleteArtist()">Delete Artist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" ng-disabled="artistDetail.typeCalendar != 'Week'" ng-click="artistDetail.getPDF()">PDF</button>

    <div class="row">
        <h2 class="page-header">
            Event list
        </h2>
        <div class="col-lg-12" ng-if="artistDetail.OverlapEvents.length > 0">
            <div class="alert alert-danger" role="alert"><b>WARNING!</b><br> There are overlapping events</div>
               <div class="col-lg-6">
            <ul class="list-group" ng-repeat="art in artistDetail.OverlapEvents">
                <li class="list-group-item list-group-item-warning">
                    <span class="badge">{{art.count}}</span> 
                    {{art.start_day}}
                </li>
            </ul>
               </div>

        </div>
        <div class="col-lg-2">
            <daypilot-navigator daypilot-config="artistDetail.navigatorConfig"></daypilot-navigator>
        </div>
        <div class="col-lg-10" data-ng-if="artistDetail.events">
            <label class="radio-inline"><input type="radio" value="Day" ng-model="artistDetail.typeCalendar" name="optradio">Day</label>
            <label class="radio-inline"><input type="radio" value="Week" ng-model="artistDetail.typeCalendar"  name="optradio">Week</label>
            <label class="radio-inline"><input type="radio" value="Month" ng-model="artistDetail.typeCalendar"  name="optradio">Month</label>
            <div ng-switch="artistDetail.typeCalendar">
                <div ng-switch-when="Day">
                    <daypilot-calendar id="dp" daypilot-config="artistDetail.CalendarConfig" daypilot-events="artistDetail.events"></daypilot-calendar>
                </div>
                <div ng-switch-when="Week">
                    <daypilot-calendar if="dp" daypilot-config="artistDetail.CalendarConfig" daypilot-events="artistDetail.events"></daypilot-calendar>
                </div>
                <div ng-switch-when="Month">
                    <daypilot-month id="dp" daypilot-config="artistDetail.CalendarConfig" daypilot-events="artistDetail.events"></daypilot-month>
                </div>
            </div>
        </div>
        <div data-ng-if="!artistDetail.events">
            <h1>Please, select the month on the calendar.</h1>
        </div>
    </div>
</div>