<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bands
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-users"></i> Bands
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Band List</h2>
            <table ng-table="band.tableParams" class="table" show-filter="true" style="text-align: center">
                <tr ng-repeat="b in band.tableParams.data">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{b.name}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="band.goToDetails(b.id)">Details</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalBand">Create a new Band</button>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="myModalBand">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Band</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align: center">
                    <h2>Create new Band</h2>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Band name</label>
                            <input class="form-control" ng-model="band.name" placeholder="Band Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Assign Artist</h3>
                        <table ng-table="band.artistTableParams" class="table" show-filter="true">
                            <tr ng-repeat="art in band.artistTableParams.data">
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                                    {{art.name}}</td>
                                <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                                    {{art.email}}</td>
                                <td title="'Telf'" filter="{ telf: 'number'}" sortable="'telf'">
                                    {{art.telf}}</td>
                                <td>
                                    <input type="checkbox" ng-model="art.selected">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="band.createBand()">Create</button>
                <button class="btn btn-danger" ng-click="band.closeModal()">Close</button>
            </div>
        </div>
    </div>