<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Band Detail
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-users"></i> <a ui-sref="users.bands">Bands</a>
                </li>
                <li class="active">
                    {{bandDetail.artist.name}}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Band info</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Name</span>
                                <input type="text" class="form-control" ng-model='bandDetail.band.name' ng-disabled="bandDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Created at</span>
                                <input type="text" class="form-control" ng-model='bandDetail.band.created_at' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Updated at</span>
                                <input type="text" class="form-control" ng-model='bandDetail.band.updated_at' ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" ng-click="bandDetail.editButton()">Edit</button>
                            <button class="btn btn-danger" ng-click="bandDetail.saveButton()" ng-disabled="bandDetail.infoDisabled">Save</button>
                            <button class="btn btn-danger" style="float: right;" ng-click="bandDetail.deleteBand()">Delete Group</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Artist Assigned</h2>
            <table ng-table="bandDetail.artistTableParams" class="table" show-filter="true">
                <tr ng-repeat="art in bandDetail.artistTableParams.data">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{art.name}}</td>
                    <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                        {{art.email}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="bandDetail.visitArtist(art.id)">Visit</button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="bandDetail.deleteArtist(art.id)">Delete</button>
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <h2>Rest of Artist</h2>
            <table ng-table="bandDetail.restArtistTableParams" class="table" show-filter="true">
                <tr ng-repeat="art in bandDetail.restArtistTableParams.data">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{art.name}}</td>
                    <td title="'Email'" filter="{ email: 'text'}" sortable="'email'">
                        {{art.email}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="bandDetail.visitArtist(art.id)">Visit</button>
                        <button type="button" class="btn btn-success btn-sm" ng-click="bandDetail.assignArtist(art.id)">Assign</button>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-primary" ng-disabled="bandDetail.typeCalendar != 'Week'" ng-click="bandDetail.getPDF()">PDF</button>
    <div class="row">
        <h2 class="page-header">
            Event list
        </h2>
        <div class="col-lg-12" ng-if="bandDetail.OverlapEvents.length > 0">
            <div class="alert alert-danger" role="alert"><b>WARNING!</b><br> There are overlapping events</div>
            <div class="col-lg-6">
                <ul class="list-group" ng-repeat="art in bandDetail.OverlapEvents">
                    <li class="list-group-item list-group-item-warning">
                        <span class="badge">{{art.count}}</span> {{art.start_day}}
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-2">
            <daypilot-navigator daypilot-config="bandDetail.navigatorConfig"></daypilot-navigator>
        </div>
        <div class="col-lg-10" data-ng-if="bandDetail.events">
            <label class="radio-inline"><input type="radio" value="Day" ng-model="bandDetail.typeCalendar" name="optradio">Day</label>
            <label class="radio-inline"><input type="radio" value="Week" ng-model="bandDetail.typeCalendar"  name="optradio">Week</label>
            <label class="radio-inline"><input type="radio" value="Month" ng-model="bandDetail.typeCalendar"  name="optradio">Month</label>
            <div ng-switch="bandDetail.typeCalendar">
                <div ng-switch-when="Day">
                    <!--daypilot-calendar id="dp" daypilot-config="bandDetail.CalendarConfig" daypilot-events="bandDetail.events"></daypilot-calendar-->
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Event List Day</h3>
                            <table ng-table="bandDetail.eventsTableParams" class="table" show-filter="true">
                                <tr ng-repeat="art in bandDetail.eventsTableParams.data">
                                    <td title="'Location'" filter="{ locationName: 'text'}" sortable="'Location'">
                                        {{art.locationName}}</td>
                                    <td title="'Bands List'" filter="{ text: 'text'}" sortable="'Artist/Band List'">
                                        {{art.text}}</td>
                                    <td title="'Internal description'" filter="{ internal_description: 'text'}" sortable="'End'">
                                        {{art.internal_description}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="bandDetail.showEvent(art.id)">Visit</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="Week">
                    <daypilot-calendar if="dp" daypilot-config="bandDetail.CalendarConfig" daypilot-events="bandDetail.events"></daypilot-calendar>
                </div>
                <div ng-switch-when="Month">
                    <daypilot-month id="dp" daypilot-config="bandDetail.CalendarConfig" daypilot-events="bandDetail.events"></daypilot-month>
                </div>
            </div>
        </div>
        <div data-ng-if="!bandDetail.events">
            <h1>Please, select the month on the calendar.</h1>
        </div>
    </div>
</div>
