<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Event Detail
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-table"></i> <a ui-sref="users.events">Events</a>
                </li>
                <li class="active">
                    {{eventDetail.event.id}}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Event info</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Start hour</span>
                                <input type="text" class="form-control" ng-model='eventDetail.event.start_hour' ng-disabled="eventDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">End hour</span>
                                <input type="text" class="form-control" ng-model='eventDetail.event.end_hour' ng-disabled="eventDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">Start day</span>
                                <input type="text" class="form-control" ng-model='eventDetail.event.start_day' ng-disabled="eventDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-3 col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">End day</span>
                                <input type="text" class="form-control" ng-model='eventDetail.event.end_day' ng-disabled="eventDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Cost</span>
                                <input type="text" class="form-control" ng-model='eventDetail.event.cost' ng-disabled="eventDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Created at</span>
                                <input type="text" class="form-control" ng-model='eventDetail.event.created_at' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Updated at</span>
                                <input type="text" class="form-control" ng-model='eventDetail.event.updated_at' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Internal Description</span>
                                <textarea class="form-control" ng-model="eventDetail.event.internal_description" rows="5" placeholder="Event Description"
                                    ng-disabled="eventDetail.infoDisabled"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">External Description</span>
                                <textarea class="form-control" ng-model="eventDetail.event.external_description" rows="5" placeholder="Event Description"
                                    ng-disabled="eventDetail.infoDisabled"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" ng-click="eventDetail.editButton()">Edit</button>
                            <button class="btn btn-danger" ng-click="eventDetail.saveButton()" ng-disabled="eventDetail.infoDisabled">Save</button>
                            <label class="checkbox-inline"><input type="checkbox" name="spread" value="true" ng-model="eventDetail.spread"> Afectar al resto de eventos </label>
                            <button class="btn btn-danger" style="float: right;" ng-click="eventDetail.deleteEvent()">Delete Event</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Location info</h3>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Location Name</span>
                                <input type="text" class="form-control" ng-model='eventDetail.location.locationName' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">City</span>
                                <input type="text" class="form-control" ng-model='eventDetail.location.city' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Zip Code</span>
                                <input type="text" class="form-control" ng-model='eventDetail.location.code' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Address</span>
                                <input type="text" class="form-control" ng-model='eventDetail.location.address' ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" ng-click="eventDetail.visitLocation()">Visit</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2 style="text-align: center">Bands Assigned</h2>
            <table ng-table="eventDetail.bandTableParams" class="table" show-filter="true" style="text-align: center">
                <tr ng-repeat="art in eventDetail.bandTableParams.data">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{art.name}}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="eventDetail.deleteBand(art.id)">Delete</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="eventDetail.visitBand(art.id)">Visit</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-lg-6">
            <h2 style="text-align: center">Rest of Bands</h2>
            <table ng-table="eventDetail.restBandTableParams" class="table" show-filter="true" style="text-align: center">
                <tr ng-repeat="art in eventDetail.restBandTableParams.data">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{art.name}}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" ng-click="eventDetail.assignBand(art.id)">Assign</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="eventDetail.visitArtist(art.id)">Visit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Select Location</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Choose a location</h3>
                        <table ng-table="eventDetail.locationTableParams" class="table" show-filter="true">
                            <tr ng-repeat="loc in eventDetail.locationTableParams.data">
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                                    {{loc.name}}</td>
                                <td title="'City'" filter="{ cityName: 'text'}" sortable="'City'">
                                    {{loc.cityName}}</td>
                                <td title="'Zip Code'" filter="{ code: 'number'}" sortable="'Zip code'">
                                    {{loc.code}}</td>
                                <td>
                                    <input type="radio" name="locationName" ng-click="eventDetail.chooseLocation(loc)">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="eventDetail.saveButton()">Save</button>
                <label class="checkbox-inline"><input type="checkbox" name="spread" value="true" ng-model="eventDetail.spread"> Afectar al resto de eventos </label>
            </div>
        </div>
    </div>
</div>