<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Events
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-table"></i> Events
                </li>
            </ol>
        </div>
    </div>

    <div class="row form-group">

        <button class="btn btn-primary" ng-disabled="event.typeCalendar != 'Month'" ng-click="event.getPDF()">Locations Zip</button>
        <button class="btn btn-primary" ng-disabled="event.typeCalendar != 'Week'" ng-click="event.getPDFBand()">Bands Week Zip</button>
        <button class="btn btn-primary" ng-disabled="event.typeCalendar != 'Month'" ng-click="event.getPDFBandMonth()">Bands Month Zip</button>
        <label class="checkbox-inline"><input type="checkbox" name="spread" value="true" ng-model="event.addCost"> Añadir precio</label>

        
        <h2 class="page-header">
            Event list
        </h2>
        <div class="col-lg-2">
            <daypilot-navigator daypilot-config="event.navigatorConfig"></daypilot-navigator>
        </div>
        <div class="col-lg-10">
            <label class="radio-inline"><input type="radio" value="Day" ng-model="event.typeCalendar" name="optradio">Day</label>
            <label class="radio-inline"><input type="radio" value="Week" ng-model="event.typeCalendar"  name="optradio">Week</label>
            <label class="radio-inline"><input type="radio" value="Month" ng-model="event.typeCalendar"  name="optradio">Month</label>
            <div ng-switch="event.typeCalendar">
                <div ng-switch-when="Day">
                    <!--daypilot-calendar id="dp" daypilot-config="event.CalendarConfig" daypilot-events="event.events"></daypilot-calendar-->
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Event List Day</h3>
                            <table ng-table="event.eventsTableParams" class="table" show-filter="true">
                                <tr ng-repeat="art in event.eventsTableParams.data">
                                    <td title="'Location'" filter="{ locationName: 'text'}" sortable="'Location'">
                                        {{art.locationName}}</td>
                                    <td title="'Bands List'" filter="{ text: 'text'}" sortable="'Artist/Band List'">
                                        {{art.text}}</td>
                                    <td title="'Internal description'" filter="{ internal_description: 'text'}" sortable="'End'">
                                        {{art.internal_description}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="event.showEvent(art.id)">Visit</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="Week">
                    <daypilot-calendar if="dp" daypilot-config="event.CalendarConfig" daypilot-events="event.events"></daypilot-calendar>
                </div>
                <div ng-switch-when="Month">
                    <daypilot-month id="dp" daypilot-config="event.CalendarConfig" daypilot-events="event.events"></daypilot-month>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="float: right;">Create a new Event</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Event</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Choose a location</h3>
                        <table ng-table="event.locationTableParams" class="table" show-filter="true">
                            <tr ng-repeat="loc in event.locationTableParams.data">
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                                    {{loc.name}}</td>
                                <td title="'City'" filter="{ cityName: 'text'}" sortable="'City'">
                                    {{loc.cityName}}</td>
                                <td title="'Zip Code'" filter="{ code: 'number'}" sortable="'Zip code'">
                                    {{loc.code}}</td>
                                <td>
                                    <input type="radio" name="locationName" ng-click="event.chooseLocation(loc)">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr></hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <h3>Assign Random Dates</h3>
                            <div>
                                <multiple-date-picker ng-model="event.selectedDates"></multiple-date-picker>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3>Assign Repeated Dates</h3>
                            <p>First select the first day</p>
                            <div class="col-lg-12">
                                <h4>Repead:</h4>
                                <label class="checkbox-inline"><input type="radio" name="repeticion" value="7" ng-model="event.typeRepetition"> Weekly </label>
                                <label class="checkbox-inline"><input type="radio" name="repeticion" value="14" ng-model="event.typeRepetition" checked> Every 14 days</label>
                            </div>

                            <div class="col-lg-12">
                                <h4>End</h4>
                                <div class="form-group">
                                    <span class="input-group-addon">End Date: </span>
                                    <input type="text" class="form-control" ng-model="event.endDateRepetition" placeholder="YY-MM-DD">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-primary" ng-click="event.applyRepeatEvents()">Insert</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3>Add Hour</h3>
                        <div class="form-group">
                            <span class="input-group-addon">Start Hour: </span>
                            <input type="text" class="form-control" ng-model="event.startHour" placeholder="14:00:00">
                        </div>
                        <div class="form-group">
                            <span class="input-group-addon">End Hour:</span>
                            <input type="text" class="form-control" ng-model="event.endHour" placeholder="14:00:00">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3>Cost</h3>
                        <div class="form-group">
                            <span class="input-group-addon">Cost €</span>
                            <input type="text" class="form-control" ng-model="event.cost" placeholder="0">
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <h3>Add Info</h3>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Internal Description</label>
                                <textarea class="form-control" ng-model="event.internal_description" rows="5" placeholder="Internal Description"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>External Description</label>
                                <textarea class="form-control" ng-model="event.external_description" rows="5" placeholder="External Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <hr></hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Assign Bands</h3>
                        <table ng-table="event.bandTableParams" class="table" show-filter="true">
                            <tr ng-repeat="art in event.bandTableParams.data">
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'name'" style="text-align: center">
                                    {{art.name}}</td>
                                <td>
                                    <input type="checkbox" ng-model="art.selected">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="event.closeModal()">Close</button>
                    <button class="btn btn-primary" ng-click="event.createEvent()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>