<div class="container-fluid">
    <div class="row" style="text-align: center">
        <h1>Xarxa Musical</h1>
        <img src="http://www.xarxamusical.com/images/LOGOXARXA.png">
        </img>
    </div>
</div>