<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Locations
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-wrench"></i> Locations
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Location List</h2>
            <table ng-table="location.locationTableParams" class="table" show-filter="true">
                <tr ng-repeat="loc in location.locationTableParams.data">
                    <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                        {{loc.name}}</td>
                    <td title="'Address'" filter="{address: 'text'}" sortable="'email'">
                        {{loc.address}}</td>
                    <td title="'City'" filter="{ cityName: 'text'}" sortable="'telf'">
                        {{loc.cityName}}</td>
                    <td title="'Zip Code'" filter="{ code: 'number'}" sortable="'telf'">
                        {{loc.code}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="location.goToDetails(loc.id)">Details</button>
                        <!--button type="button" class="btn btn-danger btn-sm" ng-click="location.delete(loc.id)">Delete</button-->
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create a new Location</button>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Artist</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align: center">
                    <h2>Create new Location</h2>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Location name</label>
                            <input class="form-control" ng-model="location.name" placeholder="Location Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>address</label>
                            <input class="form-control" ng-model="location.address" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <div class="col-lg-12">
                        <h2>Choose a City</h2>
                        <table ng-table="location.cityTableParams" class="table" show-filter="true">
                            <tr ng-repeat="city in location.cityTableParams.data">
                                <td title="'Name'" filter="{ name: 'text'}" sortable="'Name'">
                                    {{city.name}}</td>
                                <td title="'Zip Code'" filter="{ code: 'number'}" sortable="'Zip code'">
                                    {{city.code}}</td>
                                <td>
                                    <input type="radio" name="cityName" ng-click="location.chooseCity(city)">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="location.createLocation()">Create</button>
                <button class="btn btn-danger" ng-click="location.closeModal()">Close</button>
            </div>
        </div>
    </div>
    </div>