<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Locations
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a ui-sref="users.home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-wrench"></i><a ui-sref="users.locations">Locations</a>
                </li>
                <li class="active">
                    {{locationDetail.location.name}}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">Location info</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Name</span>
                                <input type="text" class="form-control" ng-model='locationDetail.location.name' ng-disabled="locationDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Address</span>
                                <input type="text" class="form-control" ng-model='locationDetail.location.address' ng-disabled="locationDetail.infoDisabled">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Created at</span>
                                <input type="text" class="form-control" ng-model='locationDetail.location.created_at' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Updated at</span>
                                <input type="text" class="form-control" ng-model='locationDetail.location.updated_at' ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" ng-click="locationDetail.editButton()">Edit</button>
                            <button class="btn btn-danger" ng-click="locationDetail.saveButton()" ng-disabled="locationDetail.infoDisabled">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="icon-calendar"></i>
                    <h3 class="panel-title">City info</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Name</span>
                                <input type="text" class="form-control" ng-model='locationDetail.city.name' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Zip Code</span>
                                <input type="text" class="form-control" ng-model='locationDetail.city.code' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Created at</span>
                                <input type="text" class="form-control" ng-model='locationDetail.city.created_at' ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">Updated at</span>
                                <input type="text" class="form-control" ng-model='locationDetail.city.updated_at' ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" ng-disabled="locationDetail.typeCalendar != 'Month'" ng-click="locationDetail.getPDF()">PDF</button>
    <label class="checkbox-inline"><input type="checkbox" name="needPrice" value="true" ng-model="locationDetail.needPricePDF"> Add total price</label>

    <div class="row form-group">
        <h2 class="page-header">
            Event list
        </h2>
        <div class="col-lg-2">
            <daypilot-navigator daypilot-config="locationDetail.navigatorConfig"></daypilot-navigator>
        </div>
        <div class="col-lg-10">
            <label class="radio-inline"><input type="radio" value="Day" ng-model="locationDetail.typeCalendar" name="optradio">Day</label>
            <label class="radio-inline"><input type="radio" value="Week" ng-model="locationDetail.typeCalendar"  name="optradio">Week</label>
            <label class="radio-inline"><input type="radio" value="Month" ng-model="locationDetail.typeCalendar"  name="optradio">Month</label>
            <div ng-switch="locationDetail.typeCalendar">
                <div ng-switch-when="Day">
                    <daypilot-calendar id="dp" daypilot-config="locationDetail.CalendarConfig" daypilot-events="locationDetail.events"></daypilot-calendar>
                </div>
                <div ng-switch-when="Week">
                    <daypilot-calendar if="dp" daypilot-config="locationDetail.CalendarConfig" daypilot-events="locationDetail.events"></daypilot-calendar>
                </div>
                <div ng-switch-when="Month">
                    <daypilot-month id="dp" daypilot-config="locationDetail.CalendarConfig" daypilot-events="locationDetail.events"></daypilot-month>
                </div>
            </div>
        </div>
    </div>